.jobs {
  width: 100%;
  margin-top: 1.5rem;
  
  &_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;

    &_apply {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border-radius: 20px;
        width: 70px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: lightseagreen;
            color: white;
            font-family: "Montserrat", sans-serif;
        }
    }
    &_more {
        text-align: end;
        border: none;
        background: none;
    }
  }
}
