.mobileHeader {
  background: none;
  color: white;
  padding: 12px 16px;
}

.headerDark {
  background: rgb(44, 44, 44);
  > .mobileHeader h2 {
    color: white;
  }
}

.headerLight {
  background: whitesmoke;

  > .mobileHeader h2 {
    color: black;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 18px;
  }

  button {
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
  }

  .darkIcon {
    color: white;
  }
  .lightIcon {
    color: black;
  }
}

.menu {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #2c2c2c;
  padding: 16px;
  border-radius: 12px;
  animation: slideDown 0.25s ease;
  position: relative;

  &_mode {
    background: none;
    border: none;
    height: 20px;
    position: fixed;
    bottom: 0;
    right: 10px;

    > svg {
      font-size: 20px;
    }
  }
  a,
  button {
    all: unset;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  a:hover,
  button:hover {
    background: #3a3a3a;
  }
}

.headerDark {
  background: rgb(44, 44, 44);
  > .mobileHeader h2 {
    color: white;
  }
}

.headerLight {
  background: whitesmoke;

  h2,
  div,
  span,
  button,
  p,
  a {
    color: black;
  }
}

.divider {
  height: 1px;
  background: #444;
  margin: 8px 0;
}

.logout {
  color: #f31717 !important;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
