.profile {
  width: 100%;
  display: flex;

  main {
    width: 100%;
    height: 100%;
  }

  &_row {
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 100%;
    background: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;

    > svg {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 20px;
      cursor: pointer;
    }
    > h2 {
      font-weight: 400;
      font-family: "Poppins", sans-serif;
    }
  }
}

@media (max-width: 1024px) {
  .profile {
    flex-direction: column;
    gap: 1rem;

    &_row {
      width: 80%;
      margin: 20px auto;
    }
  }
}
@media (max-width: 450px) {
  .profile {
    &_row {
      flex-direction: column;
    }
  }
}
