.profile {
  width: 100%;
  display: flex;
  .menu {
    width: 22%;
    height: 100vh;
    background: rgb(83 83 212);
    padding-top: 10px;

    &_pages {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &_link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px 10px 45px;
      color: whitesmoke;
      text-decoration: none;
      cursor: pointer;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background: transparent;
        transition: background 0.3s ease;
      }
      > svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .active {
    background: rgb(40, 40, 242);

    &::before {
      background: white;
    }
  }

  main {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  &_header {
    display: flex;
    align-items: start;
    gap: 2rem;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  &_avatar {
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      width: 100px;
      height: 100px;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
  }
}
