section {
  padding: 1.5rem;

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 30px;

    input,
    select {
      width: 200px;
      height: 40px;
      padding: 10px 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
      background: white;
      outline: none;
      font-size: 14px;
      cursor: pointer;
      transition: 0.2s ease;
    }

    button {
      width: 130px;
      height: auto;
      padding: 8px 0;
      border-radius: 10px;
      border: none;
      background: rgb(17, 151, 17);
      color: white;

      > svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media (max-width: 992px) {
    .form {
      flex-direction: column;
      padding: 0 3rem;
      > input,
      select,
      button {
        width: 100%;
      }
    }
  }
}
