main {
  padding: 1.5rem;

  > .jobs {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 60%;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    margin: auto;
    position: relative;
    background: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    font-family: "Montserrat", sans-serif;

    input {
      width: 77%;
      height: auto;
      border: none;
    }
    input:focus {
      outline: none;
    }
    button {
      width: 100px;
      height: auto;
      padding: 8px 0;
      border-radius: 40px;
      border: none;
      position: absolute;
      right: 10px;
      background: rgb(17, 151, 17);
      color: white;
    }
  }
}
