.profile_avatar {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 100px;
    height: 100px;
  }
}
