.home {
  width: 100%;
  height: auto;
  margin: auto;

  &_container {
    display: flex;
    flex-direction: column;

    &_title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
    > form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;
      margin-top: 30px;

      input,
      select {
        width: 200px;
        height: 40px;
        padding: 10px 12px;
        border-radius: 10px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 14px;
        cursor: pointer;
        transition: 0.2s ease;
      }

      button {
        width: 130px;
        height: auto;
        padding: 8px 0;
        border-radius: 10px;
        border: none;
        background: rgb(17, 151, 17);
        color: white;

        > svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &_view {
    width: 120px;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: #d8d8d8;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    font: 500 13px "Poppins", sans-serif;
    text-decoration: none;

    &:hover {
      background-color: rgb(59, 186, 59);
      transition: 1s ease-in;
      color: white;
    }
  }
}
