.home {
  width: 100%;
  height: auto;
  margin: auto;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url("../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 700px;
    padding: 1.5rem;

    &_title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      color: white;
    }
    &_jobs {
      display: flex;
      align-items: center;
      padding: 15px;
      width: 40%;
      border: 1px solid #f2f2f2;
      border-radius: 30px;
      margin: 1rem auto;
      position: relative;
      background: white;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
      font-family: "Montserrat", sans-serif;

      input {
        width: 77%;
        height: auto;
        border: none;
        background: none;
      }
      input:focus {
        outline: none;
      }
      button {
        width: 100px;
        height: auto;
        padding: 8px 0;
        border-radius: 40px;
        border: none;
        position: absolute;
        right: 10px;
        background: rgb(17, 151, 17);
        color: white;
      }
    }
  }
  &_view {
    width: 120px;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: #d8d8d8;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font: 500 13px "Poppins", sans-serif;
    text-decoration: none;

    &:hover {
      background-color: rgb(59, 186, 59);
      transition: 1s ease-in;
      color: white;
    }
    &_dark {
      background: #595959;
      color: white;
    }
    &_light {
      background: #f2f2f2;
      color: black;
    }
  }
  @media (max-width: 1280px) {
    &_container {
      height: 570px;
    }
  }

  @media (max-width: 992px) {
    &_container {
      height: 450px;

      &_jobs {
        width: 50%;
      }
    }
  }

  @media (max-width: 768px) {
    &_container {
      height: 400px;

      &_title {
        text-align: center;

        > h1 {
          font-size: 23px;
        }
        > p {
          font-size: 16px;
        }
      }

      &_jobs {
        button {
          padding: 6px 16px;
        }
      }
    }
  }
  @media (max-width: 600px) {
    &_container {
      &_jobs {
        width: 80%;

        > button {
          width: auto;
        }
      }
    }
  }
  @media (max-width: 375px) {
    &_container {
      &_jobs {
        width: 100%;

        > button {
          width: auto;
        }
      }
    }
  }
}
