.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.button {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(88, 83, 185, 0.2);
  }
  &:nth-of-type(1) {
    background: rgb(142, 142, 142);
    &:hover {
      background: linear-gradient(135deg, #d65050, #86220b);
    }
  }
  &:nth-of-type(2) {
    background: linear-gradient(135deg, #4f46e5, #6366f1);
    &:hover {
      background: #2929b4;
    }
  }
}
