header {
  background-color: rgb(44, 44, 44);
  padding: 10px;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;

  > nav {
    display: flex;
    align-items: center;
    column-gap: 60px;
    > a {
      text-decoration: none;
      color: white;

      &:hover {
        color: rgb(103, 250, 62);
      }
    }
    .active {
      color: #ffee08;
    }

    .notActive {
      color: white;
    }
  }
  &_account {
    display: flex;
    align-items: center;
    gap: 1rem;
    &_log {
      &:hover {
        color: red !important;
      }
    }
  }
  &_buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;

    &:hover {
      color: #67fa3e;
    }
  }
}
