.footer {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  color: white;
  text-align: center;
}
.footerDark {
  background: #090909;
  color: white;
}
.footerLight {
  background: whitesmoke;
  color: black;
}
