.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input, textarea {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > button {
        background: none;
        padding: 10px;
        border-radius: 20px;
        color: white;
        border: none;
        cursor: pointer;
        
        &:nth-of-type(1) {
            background-color: #a09f9f;
        }
        &:nth-of-type(2) {
            background-color: #5252f3;
            &:hover {
                background: #3838bc;
            }
        }
    }
  }
}