body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.dark {
  background: var(--input-bg);
  color: var(--input-text);
}
.light {
  background: #c0deff;
  color: black;
}
